<html>
<head>
    <title>Django Girls blog</title>
</head>
<body>
    <div>
        <h1><a href="">Django Girls Blog</a></h1>
    </div>

    <div>
        {% for chat in chats %}
        <div>
            <p>published: {{ chat.published_date }}</p>
            <p>{{ chat.text|linebreaksbr }}</p>
        </div>
        {% endfor %}

    </div>

    <div>
        {% for chat in chats %}
        <div>
            <p>published: {{ chat.published_date }}</p>
            <p>{{ chat.text|linebreaksbr }}</p>
        </div>
        {% endfor %}
    </div>
</body>
</html>